.card{
    border: none;
    font-family: Arial;
    width: 500px;
    padding: 40px;
    position: absolute;
    left: 32%;
    top: 25%;
    background: rgb(0, 0, 0);
}
.card h1,h6{
    color: white;
}
label{
    color: white;
}
.container{
    background: rgb(92, 63, 161);
    background: linear-gradient(90deg,hsla(205,46%,30%,1) 0%, hsla(260,4629%,36%,1) 100%);
}