<div>
    <h4 class="font-weight-bold">Details of {{employee.first_name}}</h4><br>
    <table class="table">
        <tr>
            <th>Employee ID</th>
            <th>First Name</th>
            <th>Second Name</th>
            <th>Email</th>
        </tr>
        <br>
        <tr>
            <th>{{employee.id}}</th>
            <td>{{employee.first_name}}</td>
            <td>{{employee.last_name}}</td>
            <td>{{employee.email}}</td>
        </tr>
    </table>
    <hr><br>
    <input type="button" class="btn btn-primary" value="View All Employee" (click)="ViewAll()"/>&nbsp;
    <input type="button" class="btn btn-secondary" value="Update Employee" (click)="updateEmployee(employee)"/>&nbsp;
    <input type="button" class="btn btn-danger" value="Delete Employee" (click)="deleteEmployee(employee.id)"/>&nbsp;<br>
    <input type="button" class="btn btn-link" value="Back To Home" (click)="ViewAll()"/>&nbsp;
</div>
